<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">Helpdesk System</div>
    <div class="menu">
        <a href="/dashboard">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

<!-- PAGE CONTENT -->
<div class="page">

    <div class="page-title">
        <h1>Create Account</h1>
        <p>Register to raise and track tickets</p>
    </div>

    <div class="card">
        <h2>Register</h2>

        <form method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>
    </div>

</div>

</body>
</html>
